<h1 class="text-center mb-3">Here are all our unique Users😎</h1>
<section  class="w-100">
  <% @users.each do |user| %>
    <a href="/users/<%= user.id%>" class="d-flex align-items-center mb-3 gap-3 text-decoration-none">
      <img src="<%= user.photo %>" alt="<%= user.name %>" class= "border p-5 border-5">
      <div class="border border-5 w-100  p-3">
        <h2 class="flex-grow-1"><%= user.name %></h2>
        <div class="d-flex justify-content-end">
          Number of post:
          <%= user.posts_counter %>
        </div>
      </div>
    </a>
  <% end %>
</section>
